.toCenterContent{
  width:53%;
  margin-left: 24%;
}

.wrapContent {
  text-align: center;
  padding-bottom: 60px;

  & > h2 {
    margin-top: 0;
    margin-bottom: 20px;
    background-color: #d36b19;
    background-image: url(../img/bg__orange.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: "open_sans_condensed_bold", "Tahoma", "Geneva", sans-serif;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #fff;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    width: 53%;
    margin-left: 24%;
  }
}

.contentNav {
  width: 100%;
  margin-bottom: 20px;

  & ul {
    padding-left: 0;
    text-align: left;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    //top: -3px;
  }

  & > ul > li {

    font-family: "open_sans_condensed_bold", "Tahoma", "Geneva", sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 5px;
    background: #fff;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }

  & > ul ul {
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 0;
    padding-left: 15px;
    border-bottom: 1px solid #d36b19;
    border-left: 1px solid #d36b19;
    border-right: 1px solid #d36b19;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
  }

  & > ul ul > li {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-right: 5px;
  }

  & h3 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(53, 53, 53, 0.75);
    background-image: url(../img/bg__gray.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    padding-left: 15px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:after {
      font-family: fontello;
      font-size: 14px;
      content: '\e75c';
      color: #d36b19;
      display: block;
      position: absolute;
      right: 10px;
      top: 12px;
      z-index: 3;
    }

    &.upArrow {
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
      background-image: url(../img/bg__orange.jpg);
      background-repeat: repeat;
      background-position: 0 0;
    }

    &.upArrow:after {
      content: '\e75f';
      z-index: 3;
      color: #fff;
    }
  }

  & h3:hover,
  & h3:focus,
  & h3:active {
    background-image: url(../img/bg__orange.jpg);
    background-repeat: repeat;
    background-position: 0 0;
  }

  & h3:hover:after,
  & h3:focus:after,
  & h3:active:after {
    color: #fff;
  }

  & h3.active {

  }

  & a {
    color: #585858;
    letter-spacing: -0.015em;
    text-transform: none;
    font-family: "open_sans_regular", "Tahoma", "Geneva", sans-serif;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
  }

  & a:before {
    font-family: fontello;
    display: inline;
    content: '\e75e';
    font-size: 10px;
    color: #d36b19;
    line-height: 30px;
    //padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
  }

  & a:hover,
  & a:focus,
  & a:active {
    color: #d36b19;
  }
}

.pattern {
  width: 100%;
}

.goods {

  &__Another {
    background: #fff;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;

    & .goods__item {
      margin-top: 25px;
      margin-bottom: 5px;
    }
  }

  &__Another2 {
    background: #fff;
    margin-top: 0;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 15px;

    & .goods__item {
      margin-top: 25px;
      margin-bottom: 5px;
    }
  }

  width: 53%;
  margin-left: 24%;

  &__items {
    font-size: 0;
    line-height: 0;
    text-align: justify;
    text-align-last: justify;
  }

  &__items:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
  }

  &__item {
    background-color: #fff;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e2e2e2;
    margin-bottom: 25px;
    overflow: hidden;
  }

  & h4 {
    font-size: 18px;
    line-height: 21px;
    color: #2b2b2b;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
  }

  & img {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  & p {
    font-size: 12px;
    line-height: 21px;
    color: #6d6d6d;
    text-align: left;
    padding-left: 15px;
    padding-right: 5px;
    margin-top: 20px;
  }

  & a {
    display: block;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    line-height: 27px;
    color: #6d6d6d;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid #d8d8d8;
    background-color: #f1f1f1;
    background-image: url(../img/bg__wrap.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
  }

  & a:hover,
  & a:focus,
  & a:active {
    color: #d36b19;
    border-color: #d36b19;
  }


}

.parameters{

  & p{
    font-size: 0;
    margin-top: 15px;
  }

  &__type span {
    display: inline-block;
    vertical-align: top;
    width: 33.3333%;
  }

  &__color span,
  &__width span{
    padding-right: 10px;
  }

  &__width,
  &__length,
  &__sum {
    display: none;
  }

  &__length{
    border-bottom: 2px solid #878686;
    padding-bottom: 15px;
  }

  &__length span{
    display: inline-block;
    vertical-align: top;
    width: 20%;
  }

  &__sum {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;

    &:after{
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
    }

    & p {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      color: #6d6d6d;
      font-size: 14px;
      line-height: 24px;
      font-family: "open_sans_bold", "Tahoma", "Geneva", sans-serif;
      padding-top: 5px;
      margin-bottom: 15px;

      & strong{
        color: #494949;
        font-size: 28px;
        line-height: 30px;
      }

      & span{
        font-family: "open_sans_regular", "Tahoma", "Geneva", sans-serif;
        font-size: 14px;
        line-height: 24px;
      }
    }

    & button {
      display: inline-block;
      vertical-align: top;
      font-size: 15px;
      line-height: 42px;
      font-family: "open_sans_condensed_bold", "Tahoma", "Geneva", sans-serif;
      text-transform: uppercase;
      color: #fff;
      background-image: url(../img/bg__orange.jpg);
      background-repeat: repeat;
      background-position: 0 0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      border: none;
      padding-left: 30px;
      padding-right: 30px;

    }

  }

  & h5{
    font-family: "open_sans_regular", "Tahoma", "Geneva", sans-serif;
    font-size: 14px;
    color: #6d6d6d;
    line-height: 20px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  & label{
    font-family: "open_sans_regular", "Tahoma", "Geneva", sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #6d6d6d;
    cursor: pointer;
    vertical-align: middle;
  }

  & input{
    display: none;
  }

  & input + label:before{
    display: inline;
    content: '\f111';
    font-family: "fontello";
    color: #dbdbdb;
    border: 1px solid #dbdbdb;
    letter-spacing: normal;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 4px;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
    padding-top:1px;
    padding-bottom:1px;
    font-size: 12px;
  }
  
  & input:checked + label:before{
    color: #d57122;
  }
}

.goods__intro {
  background: #fff;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  text-align: left;

  &__title {
    padding-left: 15px;
    padding-right: 15px;
    color: #6d6d6d;
    font-family: "open_sans_bold", "Tahoma", "Geneva", sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-top: 15px;
    text-transform: uppercase;
  }

  & .goods__intro__paragraph {
    padding-left: 15px;
    padding-right: 15px;
    color: #6d6d6d;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: normal;
    padding-bottom: 5px;
    margin-bottom: 0;
  }

}

.payOnline {
  width: 53%;
  margin-left: 24%;
  background-image: url(../img/payOnline__bg.jpg);
  background-repeat: no-repeat;
  background-position: center 70%;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  height: 170px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;

  &__invisible {
    display: none;
  }

  & h3 {
    text-align: left;
    float: left;
    font-family: "open_sans_light", "Tahoma", "Geneva", sans-serif;
    font-size: 30px;
    line-height: 50px;
    background-color: rgba(211, 107, 25, 0.8);
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(../img/bg__orange.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    letter-spacing: -0.015em;

  }
}

.writeRequest, .pattern {
  display: block;
  width: 100%;
  font-family: "open_sans_condensed_bold", "Tahoma", "Geneva", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding-left: 20px;
  background-color: #cb6719;
  background-image: url(../img/bg__orange.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 25px;
  vertical-align: top;
  letter-spacing: -0.015em;
  text-decoration: none;
}

.writeRequest:hover {
  background-color: rgba(53, 53, 53, 0.75);
  background-image: url(../img/bg__gray.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  text-decoration: none;
  color: #fff;
}

.pattern:hover {
  background-color: rgba(53, 53, 53, 0.75);
  background-image: url(../img/bg__gray.jpg);
  background-repeat: repeat;
  background-position: 0 0;
  text-decoration: none;
  color: #fff;
}

.writeRequest span, .pattern span {
  display: inline-block;
  width: 74%;
  vertical-align: top;

}

.writeRequest__icon.icon-mail-alt {
  font-size: 36px;
  text-align: left;
  vertical-align: top;
  width: 23%;
  line-height: 33px;
}

.pattern__icon.icon-align-left {
  font-size: 36px;
  text-align: left;
  vertical-align: top;
  width: 23%;
  line-height: 36px;
}

.banner {
  width: 100%;
  background-color: #90315e;
  min-height: 310px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: hidden;

  & h3 {
    margin-top: 75px;
    margin-bottom: 45px;
    font-family: "open_sans_bold", "Tahoma", "Geneva", sans-serif;
    font-size: 35px;
    line-height: 40px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
  }
}

.info {
  width: 100%;

  &__block {
    margin-bottom: 23px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  & ul {
    text-align: left;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #fff;
    font-size: 0;
    padding-left: 15px;
  }

  & ul > li {
    font-family: "open_sans_condensed_bold", "Tahoma", "Geneva", sans-serif;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #fff;
    text-transform: uppercase;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-right: 5px;
  }

  & h3 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(53, 53, 53, 0.75);
    background-image: url(../img/bg__gray.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    //cursor: pointer;
    text-align: left;
    font-family: "open_sans_condensed_bold", "Tahoma", "Geneva", sans-serif;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: -0.015em;
    color: #fff;
    text-transform: uppercase;
  }

  //& h3:hover,
  //& h3:focus,
  //& h3:active {
  //  background-image: url(../img/bg__orange.jpg);
  //  background-repeat: repeat;
  //  background-position: 0 0;
  //}

  & a {
    color: #585858;
    letter-spacing: -0.015em;
    text-transform: none;
    font-family: "open_sans_regular", "Tahoma", "Geneva", sans-serif;
    font-size: 13px;
    line-height: 30px;
    text-decoration: none;
  }

  & a:before {
    font-family: fontello;
    display: inline;
    content: '\e75e';
    font-size: 10px;
    color: #d36b19;
    line-height: 30px;
    //padding-left: 10px;
    padding-right: 15px;
    text-decoration: none;
  }

  & a:hover,
  & a:focus,
  & a:active {
    color: #d36b19;
  }
}

.leftColumn, {
  float: left;
  width: 20%;
  //outline: 1px solid red;
}

.rightColumn {
  float: right;
  width: 20%;
  //outline: 1px solid red;
}

@media (max-width: 962px) {

  .toCenterContent{
    width:70%;
    margin-left: 30%;
  }

  .wrapContent {
    & > h2 {
      width: 70%;
      margin-left: 30%;
    }
  }

  .leftColumn, {
    float: left;
    width: 28%;
  }

  .rightColumn {
    float: right;
    width: 0;
  }

  .contentNav {
    width: 100%;
  }

  .pattern {
    width: 100%;
  }

  .goods {
    width: 70%;
    margin-left: 30%;

    &__item {
      width: 33%;
    }
  }

  .payOnline {
    width: 70%;
    margin-left: 30%;
  }

  .writeRequest {
    width: 100%;
  }

  .banner {
    width: 100%;
  }

  .info {
    width: 100%;
  }

}

@media (max-width: 722px) {

  .toCenterContent{
    width:100%;
    margin-left: 0;
  }

  .wrapContent {
    & > h2 {
      width: 100%;
      margin-left: 0;
    }
  }

  .contentNav {
    width: 100%;

    & h3 {
      text-align: center;
      padding-right: 15px;

      &:after {
        font-family: fontello;
        font-size: 14px;
        content: '\e75c';
        color: #d36b19;
        display: inline;
        position: static;
        padding-left: 10px;
      }

    }

    & > ul ul {
      font-size: 0;
      padding-left: 20%;
    }

    & > ul ul > li {
      max-width: 45%;
    }
  }

  .pattern {
    width: 100%;
    text-align: center;
  }

  .goods {
    width: 100%;
    margin-left: 0;

    &__item {
      width: 31%;
    }
  }

  .goods__intro {

    & .goods__intro__paragraph{
      display: none;
    }

    & .goods__intro__paragraph:nth-child(1),
    & .goods__intro__paragraph:nth-child(2){
      display: block;
    }
  }

  .payOnline {
    width: 100%;
    margin-left: 0;
  }

  .writeRequest {
    width: 100%;
    text-align: center;
  }

  .writeRequest span, .pattern span {
    text-align: center;
    width: 30%;
  }

  .writeRequest__icon.icon-mail-alt {
    width: 10%;
    text-align: center;
  }

  .pattern__icon.icon-align-left {
    width: 10%;
    text-align: center;
  }

  .banner {
    width: 100%;
    min-height: 165px;
    background-color: #7f7f7f;

    & h3 {
      margin-top: 65px;
    }
  }

  .info {
    width: 100%;
    font-size: 0;
    text-align: justify;
    -ms-text-align-last: justify;
    text-align-last: justify;

    &:after {
      width: 100%;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      content: '';
      display: inline-block;
    }

    &__block {
      display: inline-block;
      vertical-align: top;
      width: 30%;

      &:last-child {
        margin-bottom: 23px;
      }
    }

    & h3 {
      padding-top: 5px;
      padding-bottom: 5px;
      min-height: 60px;
    }
  }

}

@media (max-width: 482px) {

  .toCenterContent{
    width:100%;
    margin-left: 0;
  }

  .contentNav {
    width: 100%;

    & > ul ul {
      font-size: 0;
      padding-left: 5%;
    }

    & > ul ul > li {
      max-width: 50%;
    }
  }

  .pattern {
    width: 100%;
  }

  .goods {
    width: 100%;
    margin-left: 0;

    &__item {
      width: 47%;
      display: none;
    }

    &__item:nth-child(1),
    &__item:nth-child(2),
    &__item:nth-child(3),
    &__item:nth-child(4),
    &__item:nth-child(5),
    &__item:nth-child(6) {
      display: inline-block;
    }

  }

  .payOnline {
    width: 100%;
    margin-left: 0;
  }

  .writeRequest {
    width: 100%;
  }

  .writeRequest span, .pattern span {
    text-align: center;
    width: 45%;
  }

  .writeRequest__icon.icon-mail-alt {
    width: 15%;
    text-align: center;
  }

  .pattern__icon.icon-align-left {
    width: 15%;
    text-align: center;
  }

  .banner {
    width: 100%;
  }

  .info {
    width: 100%;

    &:after {
      display: none;
    }

    &__block {
      display: block;
      width: 100%;
    }

    & h3 {
      padding-top: 15px;
      padding-bottom: 15px;
      min-height: 0;
    }

    & h3 {
      text-align: center;
    }

    & ul {
      padding-left: 5%;
    }

    & ul > li {
      max-width: 50%;
    }
  }

  .parameters {

    &__type span {
      width: 50%;
    }

    &__color,
    &__width,
    &__length,
    &__sum{
      display: block;
    }

  }

  .setTable{
    display: none;
  }
}

@media (max-width: 322px) {

  .toCenterContent{
    width:100%;
    margin-left: 0;
  }

  .contentNav {
    width: 100%;

    & > ul ul {
      font-size: 0;
      padding-left: 20%;
    }

    & > ul ul > li {
      max-width: 100%;
    }
  }

  .pattern {
    width: 100%;
  }

  .goods {
    width: 100%;
    margin-left: 0;

    &__item {
      width: 100%;
      display: none;
    }

    &__item:nth-child(1),
    &__item:nth-child(2),
    &__item:nth-child(3) {
      display: inline-block;
    }

    &__item:nth-child(4),
    &__item:nth-child(5),
    &__item:nth-child(6) {
      display: none;
    }

  }

  .goods__intro {

    & .goods__intro__paragraph:nth-child(2){
      display: none;
    }

  }

  .payOnline {
    width: 100%;
    margin-left: 0;

  }

  .writeRequest {
    width: 100%;
  }

  .writeRequest span, .pattern span {
    text-align: center;
    width: 68%;
  }

  .writeRequest__icon.icon-mail-alt {
    width: 12%;
    text-align: center;
  }

  .pattern__icon.icon-align-left {
    width: 12%;
    text-align: center;
  }

  .banner {
    width: 100%;
  }

  .info {
    width: 100%;

    & ul {
      padding-left: 20%;
    }

    & ul > li {
      max-width: 100%;
    }
  }

  .parameters {

    &__type span {
      width: 100%;
    }

    &__length span{
      width: 25%;
    }

    &__sum {
      text-align: center;

      & p {
        width: 100%;
      }

    }
  }
}






/*\\\SLIDER\\\SLIDER\\\SLIDER\\\SLIDER\\\SLIDER\\\SLIDER\\\SLIDER\\\*/

.lentaSlider{
  width: 95%;
  margin: 0 auto;

  & .slide__content {
    padding: 10px;
  }

  & img{
    padding: 5px;
    border: 1px solid #e3e3e4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: block;
    max-width: 185px;
    height: auto;
    margin: 0 auto;
  }
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 6;
  display: block;
  margin-top: -15px;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.slick-prev:hover:before, 
.slick-next:hover:before {
  color: #d36b19;
}

.slick-prev:before {
  display: inline;
  content: '\e75d';
  font-size: 24px;
  line-height: 30px;
  color: #7f7f7f;
  font-family: "fontello";
  cursor: pointer;
}

.slick-next:before {
  display: inline;
  content: '\e75e';
  font-size: 24px;
  line-height: 30px;
  color: #7f7f7f;
  font-family: fontello;
  cursor: pointer;
}

.slick-prev{
  left: -20px;
}

.slick-next {
  right: -20px;
}

/*\\\SLIDER\\\SLIDER\\\SLIDER\\\SLIDER\\\SLIDER\\\SLIDER\\\SLIDER\\\*/






/*\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\*/

.setTable {

  margin-bottom: 35px;

  & h5{
    font-family: "open_sans_regular", "Tahoma", "Geneva", sans-serif;
    font-size: 14px;
    color: #6d6d6d;
    line-height: 20px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
}

.setTable__table{

  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: separate;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eeeeee;
  text-transform: uppercase;
  font-family: "open_sans_condensed_bold", "Tahoma", "Geneva", sans-serif;
  font-size: 15px;
  line-height: 18px;

  & td{
    border-bottom: 1px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
  }

  & tr td:not(.notHoverColor):hover{
    background-image: url(../img/bg__gray.jpg);
    background-repeat: repeat ;
    background-position: 0 0 ;
  }

  & td:first-child{
    background-image: url(../img/bg__LightGray.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    max-width: 90px;
    border: none;
  }


  & td:first-child:before{
    display: block;
    position: absolute;
    content: '';
    width: 70%;
    height: 1px;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    margin: auto;
  }

  & td:last-child{
    border-left: 1px solid #ffffff;
    max-width: 145px;
  }

  & tr:first-child td{
    border: none;
    background-image: url(../img/bg__LightGray.jpg);
    background-repeat: repeat;
    background-position: 0 0;
  }

  & tr:first-child td:before{
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 70%;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    margin: auto;
  }

  & tr:first-child td:first-child:before{
    display: none;
  }

  & tr:hover{
    background-image: none;
    background-color: #fff;
  }

  & tr:hover td:first-child{
    background-image: none;
    background-color: #fff;
  }

  & tr:first-child td:first-child { border-top-left-radius: 5px; }
  & tr:first-child td:last-child { border-top-right-radius: 5px; }
  & tr:last-child td:first-child { border-bottom-left-radius: 5px; }
  & tr:last-child td:last-child { border-bottom-right-radius: 5px; }
  
  & button{
    background-image: url(../img/bg__orange.jpg);
    background-repeat: repeat;
    background-position: 0 0;
    line-height: 27px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.notHoverColor{
  color: #fff;
  cursor: none;
}

 td:not(.notHoverColor){
  cursor: pointer;
}

.lighting_col{
  background: #ff5a00;
  background-image: url(../img/bg__orange.jpg) !important;
  background-repeat: repeat;
  background-position: 0 0;
}

tr:first-child td.lighting_col:before,
tr:first-child td.lighting_col+td:before, {
  display: none;
}
td.lighting_col{
  border-color: #cd6d22;
}






/*\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\TABLE\\\*/